## Filtering

In [2]:
# Importing the packages
import pandas as pd

In [4]:
# Loading the dataset
df = pd.read_pickle("Data/groceries_with_new_columns.pkl")
df.head(5)

,Product_ID,Product_ID_Num,Category,Subcategory,Item,Organic,Price_Dollars,Inventory,Percent Inventory,Low Inventory,Last_Updated,Last_Updated_Time,Next_Scheduled_Shipment,Shipment_Date_DOW
0,P100010,100010,Produce,Fruit,Apple,False,1.50,349,7.2,,2023-06-12 15:35:00,15:35:00,2023-06-15,Thursday
1,P100011,100011,Produce,Fruit,Banana,False,0.40,500,10.3,,2023-06-12 18:30:00,18:30:00,2023-06-15,Thursday
2,P100012,100012,Produce,Fruit,Grapes,False,4.00,200,4.1,,2023-06-12 17:22:00,17:22:00,2023-06-15,Thursday
3,P100013,100013,Produce,Fruit,Grapefruit,False,0.99,50,1.0,,2023-06-12 16:29:00,16:29:00,2023-06-15,Thursday
4,P100014,100014,Produce,Fruit,Organic Strawberries,True,3.99,148,3.0,,2023-06-12 18:10:00,18:10:00,2023-06-15,Thursday

In [5]:
# Cleaning the Subcategory column
df.Subcategory = df.Subcategory.str.strip()
df.Subcategory[0]

'Fruit'

In [8]:
# Using the loc accessor to filter
df.loc[df.Subcategory == 'Vegetable',['Subcategory','Item','Price_Dollars']]

  Subcategory      Item  Price_Dollars
6   Vegetable   Cabbage           1.78
7   Vegetable   Carrots           2.00
8   Vegetable    Celery           1.99
9   Vegetable  Cucumber           0.99

In [9]:
# Filtering without loc accessor
df[df.Item == 'Apple']

,Product_ID,Product_ID_Num,Category,Subcategory,Item,Organic,Price_Dollars,Inventory,Percent Inventory,Low Inventory,Last_Updated,Last_Updated_Time,Next_Scheduled_Shipment,Shipment_Date_DOW
0,P100010,100010,Produce,Fruit,Apple,False,1.5,349,7.2,,2023-06-12 15:35:00,15:35:00,2023-06-15,Thursday

In [14]:
# Using the mask boolean to do multiple filter
mask = (df.Category == 'Produce') & (df.Price_Dollars >= 5)
df.loc[mask,['Category','Item','Price_Dollars']]

   Category               Item  Price_Dollars
5   Produce         Watermelon           5.99
10  Produce               Beef           8.99
11  Produce  Chicken (Organic)          10.49
12  Produce             Turkey           7.99

## Sorting

In [17]:
# Sorting from the lowest to the highest
df.sort_values('Price_Dollars').head(5)

,Product_ID,Product_ID_Num,Category,Subcategory,Item,Organic,Price_Dollars,Inventory,Percent Inventory,Low Inventory,Last_Updated,Last_Updated_Time,Next_Scheduled_Shipment,Shipment_Date_DOW
1,P100011,100011,Produce,Fruit,Banana,False,0.40,500,10.3,,2023-06-12 18:30:00,18:30:00,2023-06-15,Thursday
9,P100019,100019,Produce,Vegetable,Cucumber,False,0.99,230,4.7,,2023-06-12 17:47:00,17:47:00,2023-06-15,Thursday
3,P100013,100013,Produce,Fruit,Grapefruit,False,0.99,50,1.0,,2023-06-12 16:29:00,16:29:00,2023-06-15,Thursday
16,P100026,100026,Produce,Dairy,Yogurt,False,1.00,432,8.9,,2023-06-13 08:41:00,08:41:00,2023-06-17,Saturday
17,P100027,100027,Pantry,Snacks,Apple Sauce - organic,True,1.50,27,0.6,Low Inventory,2023-06-10 12:02:00,12:02:00,2023-06-24,Saturday

In [19]:
# Sorting from the highest to the highest
df.sort_values('Inventory',ascending=False).tail(5)

,Product_ID,Product_ID_Num,Category,Subcategory,Item,Organic,Price_Dollars,Inventory,Percent Inventory,Low Inventory,Last_Updated,Last_Updated_Time,Next_Scheduled_Shipment,Shipment_Date_DOW
8,P100018,100018,Produce,Vegetable,Celery,False,1.99,50,1.0,,2023-06-12 16:42:00,16:42:00,2023-06-15,Thursday
3,P100013,100013,Produce,Fruit,Grapefruit,False,0.99,50,1.0,,2023-06-12 16:29:00,16:29:00,2023-06-15,Thursday
15,P100025,100025,Produce,Dairy,Milk (Soy),False,4.49,32,0.7,Low Inventory,2023-06-13 08:37:00,08:37:00,2023-06-17,Saturday
17,P100027,100027,Pantry,Snacks,Apple Sauce - organic,True,1.50,27,0.6,Low Inventory,2023-06-10 12:02:00,12:02:00,2023-06-24,Saturday
20,P100030,100030,Pantry,Snacks,Raisins,False,2.99,5,0.1,Low Inventory,2023-06-10 12:38:00,12:38:00,2023-06-24,Saturday

In [21]:
# Chaining the sorting and filtering
mask = (df.Category == 'Produce') & (df.Subcategory == 'Fruit')
df.loc[mask,['Category','Subcategory','Item','Inventory']].sort_values('Inventory',ascending=False)

  Category Subcategory                  Item  Inventory
1  Produce       Fruit                Banana        500
0  Produce       Fruit                 Apple        349
2  Produce       Fruit                Grapes        200
4  Produce       Fruit  Organic Strawberries        148
5  Produce       Fruit            Watermelon         99
3  Produce       Fruit            Grapefruit         50